<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DelaySend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DelaySend.Properties.Settings>
            <setting name="Monday_Start" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Monday_End" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="Tuesday_Start" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Tuesday_End" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="Wednesday_Start" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Wednesday_End" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="Thursday_Start" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Thursday_End" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="Friday_Start" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Friday_End" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="Saturday_Start" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Saturday_End" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Sunday_Start" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Sunday_End" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="EnableSchedule" serializeAs="String">
                <value>False</value>
            </setting>
        </DelaySend.Properties.Settings>
    </userSettings>
</configuration>